<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>n-ary vectors</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <script src="n-ary.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="index.js">
    </script>
  </head>
  <body>
    <h1>n-ary vectors (long numbers)</h1>

    <div id="vm" class="">
      {{message}}
      <form id="form">
        <input v-model="base" type="number" name="base" placeholder="base" value="2" min="1">
        <input v-model="length" type="number" name="length" placeholder="length" value="1" min="0">
        <input type="submit" value="ok">
      </form>

      <p class="">
        <div class="example-desc">Zero vector:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)(<b>{{length}}</b>).zero() = <b>{{zero}}</b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">Last vector:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)(<b>{{length}}</b>).last() = <b>{{last}}</b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">Random vector:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)(<b>{{length}}</b>).random() = <b>{{random}}</b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">Incremented vector:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)().inc(<b>{{random}}</b>) = <b>{{inc}}</b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">All possible vectors:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)(<b>{{length}}</b>).all() =
          <b>
            <ul>
              <li v-for="vector of all">{{vector}}</li>
            </ul>
          </b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">The only {{base}}-ary verge of a {{length}}-dimension table:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)(<b>{{length}}</b>).verge() =
          <b>
            <ul>
              <li v-for="vector of verge">{{vector}}</li>
            </ul>
          </b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">Set of 5 random vectors:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)(<b>{{length}}</b>).randomSet(<b>5</b>) =
          <b>
            <ul>
              <li v-for="vector of randomSet">{{vector}}</li>
            </ul>
          </b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">Coercing to decimal number:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)().index(<b>{{random}}</b>) = <b>{{index}}</b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">Sum of vector digits:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)().sumOfDigits(<b>{{random}}</b>) = <b>{{sumOfDigits}}</b>
        </div>
      </p>

      <p class="">
        <div class="example-desc">All vectors with sum of digits equal 2:</div>
        <div class="example">
          nAry(<b>{{base}}</b>)(<b>{{length}}</b>).sumEquals(<b>2</b>) =
          <b>
            <ul>
              <li v-for="vector of sumEquals">{{vector}}</li>
            </ul>
          </b>
        </div>
      </p>


    </div>


    <script>
      const query = location.search.slice(1).split('&').reduce((prev, item) =>
      // ({ ...prev, item.split('=')[0]: item.split('=')[1] })
        Object.assign(prev, { [item.split('=')[0]]: +item.split('=')[1] }),
        {}
      );
      console.log(location.search,query);
      const random = nAry(query.base)(query.length).random();

      var vm = new Vue({
        el: '#vm',
        data: {
          base: query.base,
          length: query.length,
          message: 'Hello Vue!',
          zero: nAry(query.base)(query.length).zero(),
          last: nAry(query.base)(query.length).last(),
          random,
          inc: nAry(query.base)().inc(random),
          all: nAry(query.base)(query.length).all(),
          verge: nAry(query.base)(query.length).verge(),
          randomSet: nAry(query.base)(query.length).randomSet(5),
          index: nAry(query.base)().index(random),
          sumOfDigits: nAry(query.base)().sumOfDigits(random),
          sumEquals: nAry(query.base)(query.length).sumEquals(2),
        },
        computed: {

        },
        methods: {

        },
      });


    </script>
  </body>
</html>
